# **MÓDULO 14 - Exercício**
# Pré Processamento dos Dados - A primeira etapa Pré Modelagem

Para nossa atividade usaremos uma base de churn também, porém essa base não diz respeito a serviços bancários e sim serviços de internet, telefone e tv - Telecomunicação.

Vamos realizar aqui as etapas de limpeza e tratamento de dados vistos durante a aula, porém aplicados a essa base nova.

In [16]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [17]:
#Lembrem-se sempre de alterar a importação dos dados de acordo com o diretório de vocês.
df = pd.read_csv("CHURN_TELECON_MOD08_TAREFA.csv", delimiter=';')

df.head(10)

,customerID,Genero,Idoso,Casado,Dependents,Tempo_como_Cliente,PhoneService,Servico_Internet,Servico_Seguranca,Suporte_Tecnico,StreamingTV,Tipo_Contrato,PaymentMethod,Pagamento_Mensal,Total_Pago,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,DSL,No,No,No,Month-to-month,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,DSL,Yes,No,No,One year,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,DSL,Yes,No,No,Month-to-month,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,DSL,Yes,Yes,No,One year,Bank transfer (automatic),NaN,1840.75,No
4,9237-HQITU,NaN,0,No,No,2,Yes,Fiber optic,No,No,No,Month-to-month,Electronic check,NaN,151.65,Yes
5,9305-CDSKC,NaN,0,No,No,8,Yes,Fiber optic,No,No,Yes,Month-to-month,Electronic check,NaN,820.50,NaN
6,1452-KIOVK,NaN,0,No,Yes,22,Yes,Fiber optic,No,No,Yes,Month-to-month,Credit card (automatic),NaN,1949.40,NaN
7,6713-OKOMC,NaN,0,No,No,10,No,DSL,Yes,No,No,Month-to-month,Mailed check,NaN,301.90,NaN
8,7892-POOKP,NaN,0,Yes,No,28,Yes,Fiber optic,No,Yes,Yes,Month-to-month,Electronic check,NaN,3046.05,NaN
9,6388-TABGU,NaN,0,No,Yes,62,Yes,dsl,Yes,No,No,One year,Bank transfer (automatic),NaN,3487.95,NaN

Legenda dos dados:

*   **CustomerID** : Esse é o ID único de cada cliente nosso da rede de produtos de telecomunicação.

*   **Genero** : O genero dos nossos clientes.

*   **Idoso** : Se nosso cliente tem acima de 60 anos ou não. (Sim = 1 | Não = 0)

*   **Casado** : Se nosso cliente é casado ou não.

*   **Dependents** : Se cliente tem dependentes.

*   **Tempo_como_Cliente** : Tempo em meses que nosso cliente está com a nossa empresa.

*   **PhoneService** : Se ele contratou serviço telefônico com a nossa empresa.

*   **Servico_Internet** : Qual o tipo de serviço de internet contratado.

*   **Servico_Seguranca** : Se ele contratou serviço de segurança com a nossa empresa.

*   **Suporte_Tecnico** : Se já acionou o suporte técnico.

*   **StreamingTV** : Se ele contratou serviço de streaming para TV.

*   **Tipo_Contrato** : Qual o tipo de contrato dos nossos clientes, se era mensal, anual etc.

*   **Tipo_Contrato** : Qual o tipo de contrato dos nossos clientes, se era mensal, anual etc.

*   **PaymentMethod** : Forma de Pagamento.

*   **Pagamento_Mensal** : Quanto o cliente pagava mensalmente.

*   **Total_Pago** : Total já pago pelo cliente para nossa companhia.

*   **Churn** : Nossa coluna mais importante, se nosso cliente nos abandonou ou não.

# 1 - Carregue a base, verifique se os tipos de dados estão de acordo com cada coluna e caso não estejam realize a transformação dos tipos de dados.

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customerID          2500 non-null   object
 1   Genero              2488 non-null   object
 2   Idoso               2500 non-null   int64
 3   Casado              2500 non-null   object
 4   Dependents          2500 non-null   object
 5   Tempo_como_Cliente  2500 non-null   int64
 6   PhoneService        1018 non-null   object
 7   Servico_Internet    2500 non-null   object
 8   Servico_Seguranca   2500 non-null   object
 9   Suporte_Tecnico     2500 non-null   object
 10  StreamingTV         2500 non-null   object
 11  Tipo_Contrato       2500 non-null   object
 12  PaymentMethod       2500 non-null   object
 13  Pagamento_Mensal    2175 non-null   float64
 14  Total_Pago          2500 non-null   float64
 15  Churn               2495 non-null   object
dtypes: float64(2), int64(2), object(12)
memory usage: 312.6+ KB

# 2 - Esse exercício faremos por etapas:
A) Verifique se temos colunas com dados faltantes e traga a % dos dados faltantes por coluna.

In [19]:
#seu código aqui

df.isnull().mean()*100

customerID             0.00
Genero                 0.48
Idoso                  0.00
Casado                 0.00
Dependents             0.00
Tempo_como_Cliente     0.00
PhoneService          59.28
Servico_Internet       0.00
Servico_Seguranca      0.00
Suporte_Tecnico        0.00
StreamingTV            0.00
Tipo_Contrato          0.00
PaymentMethod          0.00
Pagamento_Mensal      13.00
Total_Pago             0.00
Churn                  0.20
dtype: float64

B) Exclua nessa etapa as linhas das colunas com dados faltantes que você analisar que esse método é o ideal. Justifique o motivo de estar excluindo essas linhas.

In [20]:
# Aqui optei por excluir pois se tratava de poucos dados nulos.

df.dropna(subset=['Genero'], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2488 entries, 0 to 2499
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customerID          2488 non-null   object
 1   Genero              2488 non-null   object
 2   Idoso               2488 non-null   int64
 3   Casado              2488 non-null   object
 4   Dependents          2488 non-null   object
 5   Tempo_como_Cliente  2488 non-null   int64
 6   PhoneService        1006 non-null   object
 7   Servico_Internet    2488 non-null   object
 8   Servico_Seguranca   2488 non-null   object
 9   Suporte_Tecnico     2488 non-null   object
 10  StreamingTV         2488 non-null   object
 11  Tipo_Contrato       2488 non-null   object
 12  PaymentMethod       2488 non-null   object
 13  Pagamento_Mensal    2175 non-null   float64
 14  Total_Pago          2488 non-null   float64
 15  Churn               2488 non-null   object
dtypes: float64(2), int64(2), object(12)
memory usage: 330.4+ KB

C) Nessa etapa substitua pela média, mediana ou moda as linhas das colunas com valores faltantes que você analisou e entendeu que esse era o melhor método. Não se esqueça de justificar sua escolha.

In [21]:
# Para preservar o maximo de dados, aqui optei preencher com a media os dados faltantes. foi observado que a media e mediana estavam proximas não conteno outliers relevantes.

media_pgto = df['Pagamento_Mensal'].mean()
df['Pagamento_Mensal'] = df['Pagamento_Mensal'].fillna(media_pgto)

**Dica variáveis numéricas:** Não se esqueça de verificar a distrbuição dos dados, média e mediana.

**Dica variáveis categóricas:** Caso precise substituir uma variável categórica utilize um gráfico de barras para verificar a que mais aparece e utilizar ela na substituição.
Ou você pode optar por excluir a coluna, mas justifique sua escolha.

Caso opte por substituir você pode utilizar a função fillna:
df['SUACOLUNA'].fillna("VALOR QUE SUBSTITUIRA O NULO", inplace=True)
Ela funcionará como a replace.

In [22]:
# Aqui optei em preencher como não, interpretando que quem nao preencheu não estaria usando esse tipo de serviço. 

df['PhoneService'] = df['PhoneService'].fillna('No')

# 3 - Verifique se encontramos valores digitados incorretamente, ou com letras maiusculas ou minusculas, ou até mesmo mesmos valores porém escritos de forma dirente e corrija.

In [23]:
#seu código aqui
#Aqui só vamos pegar as colunas categoricas. 

colunas_texto = df.select_dtypes(include='object').columns
print(len(colunas_texto)) # coloquei pra verificar se os prints no final seria na mesma quantidade de colunas capturadas. 
for col in colunas_texto:
    print(f"\nColuna: {col}")
    print("Valores únicos :")
    print(df[col].value_counts())

12

Coluna: customerID
Valores únicos :
customerID
6061-GWWAV    1
7590-VHVEG    1
5575-GNVDE    1
3668-QPYBK    1
7795-CFOCW    1
             ..
6322-HRPFA    1
3638-WEABW    1
1066-JKSGK    1
1680-VDCWW    1
8779-QRDMV    1
Name: count, Length: 2488, dtype: int64

Coluna: Genero
Valores únicos :
Genero
Male      1265
Female    1212
M            4
f            4
F            3
Name: count, dtype: int64

Coluna: Casado
Valores únicos :
Casado
No     1262
Yes    1226
Name: count, dtype: int64

Coluna: Dependents
Valores únicos :
Dependents
No     1705
Yes     783
Name: count, dtype: int64

Coluna: PhoneService
Valores únicos :
PhoneService
No     1568
Yes     920
Name: count, dtype: int64

Coluna: Servico_Internet
Valores únicos :
Servico_Internet
Fiber optic    1119
DSL             835
No              527
dsl               7
Name: count, dtype: int64

Coluna: Servico_Seguranca
Valores únicos :
Servico_Seguranca
No                     1254
Yes                     707
No internet service     527
Name: count, dtype: int64

Coluna: Suporte_Tecnico
Valores únicos :
Suporte_Tecnico
No                     1250
Yes                     711
No internet service     527
Name: count, dtype: int64

Coluna: StreamingTV
Valores únicos :
StreamingTV
No                     1001
Yes                     960
No internet service     527
Name: count, dtype: int64

Coluna: Tipo_Contrato
Valores únicos :
Tipo_Contrato
Month-to-month    1369
Two year           602
One year           517
Name: count, dtype: int64

Coluna: PaymentMethod
Valores únicos :
PaymentMethod
Electronic check             830
Bank transfer (automatic)    579
Credit card (automatic)      551
Mailed check                 528
Name: count, dtype: int64

Coluna: Churn
Valores únicos :
Churn
No     1841
Yes     647
Name: count, dtype: int64

In [24]:
#Aqui percebi que o PhoneService existe valores nulos e por isso ele não trás os valores unicos pra gente conferir, sendo assim vamos tratar ele tbm. 
df['PhoneService'] = df['PhoneService'].str.strip().fillna('No')

df['Genero'] = df['Genero'].str.lower().map({'f':'Female', 'm':'Male'})
df['Servico_Internet'] = df['Servico_Internet'].replace('dsl','DSL')

colunas_texto = df.select_dtypes(include='object').columns
print(len(colunas_texto)) # coloquei pra verificar se a mesma quantidade 
for col in colunas_texto:
    print(f"\nColuna: {col}")
    print("Valores únicos :")
    print(df[col].value_counts())

12

Coluna: customerID
Valores únicos :
customerID
6061-GWWAV    1
7590-VHVEG    1
5575-GNVDE    1
3668-QPYBK    1
7795-CFOCW    1
             ..
6322-HRPFA    1
3638-WEABW    1
1066-JKSGK    1
1680-VDCWW    1
8779-QRDMV    1
Name: count, Length: 2488, dtype: int64

Coluna: Genero
Valores únicos :
Genero
Female    7
Male      4
Name: count, dtype: int64

Coluna: Casado
Valores únicos :
Casado
No     1262
Yes    1226
Name: count, dtype: int64

Coluna: Dependents
Valores únicos :
Dependents
No     1705
Yes     783
Name: count, dtype: int64

Coluna: PhoneService
Valores únicos :
PhoneService
No     1568
Yes     920
Name: count, dtype: int64

Coluna: Servico_Internet
Valores únicos :
Servico_Internet
Fiber optic    1119
DSL             842
No              527
Name: count, dtype: int64

Coluna: Servico_Seguranca
Valores únicos :
Servico_Seguranca
No                     1254
Yes                     707
No internet service     527
Name: count, dtype: int64

Coluna: Suporte_Tecnico
Valores únicos :
Suporte_Tecnico
No                     1250
Yes                     711
No internet service     527
Name: count, dtype: int64

Coluna: StreamingTV
Valores únicos :
StreamingTV
No                     1001
Yes                     960
No internet service     527
Name: count, dtype: int64

Coluna: Tipo_Contrato
Valores únicos :
Tipo_Contrato
Month-to-month    1369
Two year           602
One year           517
Name: count, dtype: int64

Coluna: PaymentMethod
Valores únicos :
PaymentMethod
Electronic check             830
Bank transfer (automatic)    579
Credit card (automatic)      551
Mailed check                 528
Name: count, dtype: int64

Coluna: Churn
Valores únicos :
Churn
No     1841
Yes     647
Name: count, dtype: int64

# [EXTRA] 4 - Caso deseje, para manter um padrão na sua base, renomeie as colunas ou deixand

In [25]:
df.rename(columns={'PhoneService':'Phone_Service', 'PaymentMethod':'Payment_Method'}, inplace=True)
df.head()

,customerID,Genero,Idoso,Casado,Dependents,Tempo_como_Cliente,Phone_Service,Servico_Internet,Servico_Seguranca,Suporte_Tecnico,StreamingTV,Tipo_Contrato,Payment_Method,Pagamento_Mensal,Total_Pago,Churn
0,7590-VHVEG,NaN,0,Yes,No,1,No,DSL,No,No,No,Month-to-month,Electronic check,29.850000,29.85,No
1,5575-GNVDE,NaN,0,No,No,34,Yes,DSL,Yes,No,No,One year,Mailed check,56.950000,1889.50,No
2,3668-QPYBK,NaN,0,No,No,2,Yes,DSL,Yes,No,No,Month-to-month,Mailed check,53.850000,108.15,Yes
3,7795-CFOCW,NaN,0,No,No,45,No,DSL,Yes,Yes,No,One year,Bank transfer (automatic),65.607563,1840.75,No
16,8191-XWSZG,Female,0,No,No,52,Yes,No,No internet service,No internet service,No internet service,One year,Mailed check,65.607563,1022.95,No